body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-3xs: 10px;

  /* Colors */
  --color-white: #fff;
  --color-gainsboro: #e7e1e1;
  --color-black: #000;

  /* Paddings */
  --padding-base: 16px;
  --padding-sm: 14px;

  /* Border radiuses */
  --br-3xs: 10px;
}
