.discover1 {
  text-decoration: none;
  width: 217px;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.users-sounds-hashtags {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  white-space: pre-wrap;
  flex-shrink: 0;
}
.frame-child {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-top: 1px solid #d9d7d7;
  box-sizing: border-box;
  max-width: 100%;
}
.line-wrapper,
.users-sounds-hashtags-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.line-wrapper {
  align-self: stretch;
  height: 1px;
  flex-direction: row;
  padding: 0 0 0 4px;
  box-sizing: border-box;
  max-width: 100%;
}
.users-sounds-hashtags-parent {
  margin-left: -78px;
  width: 394px;
  flex-direction: column;
  gap: 17px;
  max-width: 125%;
  flex-shrink: 0;
  font-size: 15px;
  color: #565151;
}
.footer1,
.primary-navigation {
  box-sizing: border-box;
  max-width: 100%;
}
.primary-navigation {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 74px;
  gap: 22px;
  flex-shrink: 0;
  text-align: center;
  font-size: 20px;
  color: #100f0f;
  font-family: var(--font-inter);
}
.footer1 {
  height: 61px;
  width: 390px;
  position: relative;
  background-color: var(--color-white);
  border-top: 1px solid var(--color-gainsboro);
  display: none;
}
.home-icon {
  height: 35px;
  width: 35px;
  position: relative;
  z-index: 1;
}
.footer-icon-labels {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 10px 0 9px;
}
.home {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.footer-icons {
  width: 54px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.discover-icon {
  height: 23.1px;
  width: 23.1px;
  position: relative;
  z-index: 1;
}
.discover-icon-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-sm) 0 var(--padding-base);
}
.discover2 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.footer-icons1 {
  width: 54px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 5.9px;
}
.button-background {
  position: absolute;
  top: 0;
  left: 9.9px;
  border-radius: var(--br-3xs);
  background-color: #ff276a;
  width: 43px;
  height: 32px;
}
.button-background1 {
  top: 0;
  left: 0;
  background-color: #21e2fa;
  width: 43.4px;
  height: 32px;
  z-index: 1;
}
.button-background1,
.button-shape,
.frame-item {
  position: absolute;
  border-radius: var(--br-3xs);
}
.frame-item {
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  display: none;
}
.button-shape {
  top: 26.9px;
  left: 23.2px;
  background-color: var(--color-white);
  width: 1.1px;
  height: 20.1px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  z-index: 1;
}
.frame-inner,
.rectangle-parent {
  position: absolute;
  border-radius: var(--br-3xs);
  z-index: 2;
}
.frame-inner {
  top: 17.2px;
  left: 9.5px;
  background-color: var(--color-white);
  width: 0.9px;
  height: 25.9px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.rectangle-parent {
  top: 0;
  left: 2.7px;
  background-color: var(--color-black);
  width: 46.9px;
  height: 32px;
}
.create-button {
  align-self: stretch;
  height: 32px;
  position: relative;
  z-index: 1;
}
.create-button-container {
  width: 53px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-base);
  box-sizing: border-box;
}
.inbox-icon {
  height: 23px;
  width: 24px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.inbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 var(--padding-sm);
}
.inbox {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.footer-icons2 {
  width: 54px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.profile-icon {
  height: 30px;
  width: 26.4px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.profile-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 11px 0 var(--padding-base);
}
.profile {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.footer-icons3 {
  width: 54px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2px;
}
.discover,
.footer {
  background-color: var(--color-white);
  display: flex;
  box-sizing: border-box;
}
.footer {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro);
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 8px 20px 2px;
  max-width: 100%;
  gap: 20px;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.discover {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px 0 0;
  gap: 694px;
  line-height: normal;
  letter-spacing: normal;
}
